.img-parent img {
    width: 100vw;
    max-height: 35vh;
    // overflow: hidden;
    object-fit: cover;
  }
  
  ion-button {
    margin: 1em;
  }

  ion-slide.wellcome-card {
    width: 100%;
  }

  .img-parent {
    position: relative;
    top: 0;
    left: 0;
  }

  .img-background {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .img-star {
    position: absolute;
    top: .3em;
    left: .3em;
    color: yellow;
    font-size: 1.5em;
  }

  .my-cardboard-container {
    // clear: both;
    float: right;
    // display: inline-block;
  }

  .station {
    font-size: 1em;
  }

  .my-cardboard {
    width: 1.5em !important;
    height: auto;
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle !important;
  }

  .my-flag {
    vertical-align: middle !important;
  }
  
  $flag-icon-css-path: '~flag-icon-css/flags' !default;
  @import "~flag-icon-css/sass/flag-icon";