<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Visit questions...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let s of visit.stations" class="welcome-card">
      <div class="img-parent">
        <img class="img-background" src="/assets/{{s.photos[0].url}}" alt="s.photos[0].description" />
        <div class="img-star">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
      <!-- <h1>station.photos[0].description</h1> -->
    </ion-slide>
  </ion-slides>

  <ion-card class="welcome-card" *ngFor="let station of visit.stations; let i = index">
    <ion-card-header>
      <!-- <ion-card-subtitle class="my-subtitle">
          <img class="my-cardboard" *ngIf="station.vr" src="assets/vr/img/cardboard.png" alt="cardboard" />
        <span ng-click="launchVR()" class="flag-icon flag-icon-gb my-flag"></span>
      </ion-card-subtitle> -->
      <ion-card-title>
        <span class="station">Station {{i}}</span>
        <div class="my-cardboard-container">
          <ion-img (click)="launchVR(i)" class="my-cardboard" *ngIf="station.vrs[0]" src="assets/vr/img/cardboard.png"
            alt="cardboard"></ion-img>
          <span class="flag-icon flag-icon-gb my-flag"></span>
        </div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- class="ion-text-justify" -->
      <p>{{station.question}}</p>
      <div class="ion-text-end">
        <ion-button fill="clear" (click)="answerTheQuestion()" slot="end">answer the question...</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>