<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ARLauncher</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <iframe src="/assets/vr/telde_sanjuan_360.html"></iframe> -->
  <a-scene >
    loading...
    <!--  log="hola" -->
    <!-- <a-sky src="/assets/vr/img/{{myVr.url}}" rotation="0 0 0"></a-sky>
    <a-text font="kelsonsans" value="{{myVr.text}}" width="6" position="-2.5 0.25 -1.5" rotation="0 15 0"></a-text> -->
    <!-- <a-sky src="/assets/vr/img/telde_sanjuan_360.jpg" rotation="0 0 0"></a-sky>
    <a-text font="kelsonsans" value="San Juan Bautista, Telde" width="6" position="-2.5 0.25 -1.5" rotation="0 15 0"></a-text> -->
    <a-sky #mySky rotation="0 0 0"></a-sky>
    <a-text id="myscene" font="kelsonsans" #myText color="white" width="6" position="-2.5 0.25 -1.5" rotation="0 15 0"></a-text>
  </a-scene>
</ion-content>