// .parallax {
//   /* The image used */
//   background-image: url("img_parallax.jpg");

//   /* Set a specific height */
//   min-height: 500px; 

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.img-parent img {
  width: 100%;
  max-height: 35vh;
  // overflow: hidden;
  object-fit: cover;
}

ion-button {
  margin: 1em;
}

.img-parent {
  position: relative;
  top: 0;
  left: 0;
}

.img-background {
  position: relative;
  top: 0;
  left: 0;
}

.img-star {
  position: absolute;
  top: .5em;
  left: .5em;
  color: yellow;
  font-size: 2em;
}

.my-subtitle {
  float: right; 
  font-size: 1.5em;
}

.my-flag {
  vertical-align: top !important;
}

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";

// $image_path: '~material-design-lite/src/images' !default;
// @import "~material-design-lite/src/material-design-lite";
